@import "bulma";

.floating-notification {
    position: absolute;
    display: inline-block;
    top: 10px;
    right: 10px;
}

.media-preview {
    img {
        max-width: 70%;
        display: inline-block;
    }
}

.media-content {
    .content {
        word-break: break-all;
    }

    .media-showcase {
        height: 200px;

        img {
            height: 100%;
        }
    }
}

.account-select {
    img {
        vertical-align: middle;
    }
}

.is-invisible {
    display: none;
}

#charnum {
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: #AAA;
}
